@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 98%);
    --gray: hsl(0, 0%, 41%);
    --black: hsl(0, 0%, 8%);
}

body {
    font-family: 'Epilogue', sans-serif;
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
   
.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 82%;
  padding: 20px 0;
  position: relative;
  z-index: unset;
}

.navbar-list {
  position: fixed;
  z-index: 3;
  overflow-x: hidden;
  height: 100vh;
  width: 0;
  top:0;
  right: 0;
  padding-top: 4.5rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  transition: 0.5s ease-in-out;
  z-index: 3;
}
  
.navbar-list.active {
  display: flex;
  width: 240px;
  overflow-x: hidden;
}

.navbar-list a {
  color:var(--gray);
  padding: 12px 30px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700px;
  display: flex;
  align-items: center;
}
    
.navbar-list  a:hover {
  text-decoration:underline;
  color: rgb(4, 3, 5);
}
 
.overlay {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.555);
    position:fixed;
    z-index: 3;
    display: none;
}

.overlay.active {
    display:block;
}

.arrow-down-one, .arrow-down-two {
  padding-left: 20px;
  line-height: 22px;
}

.first-submenu, .second-submenu {
  display: flex;
  flex-direction: column;
  display: none;
}

.first-submenu img {
  padding: 0 20px;
  height: 22px;
}

.second-submenu {
  padding-left: 20px;
}

.arrow-down-one.active, .arrow-down-one.active  {
  transform: scaleY(-1);
}

.first-submenu.active, .second-submenu.active {
  display:block;
}

.login {
  text-align: center;
  color: var(--gray);
  padding-top: 2.5rem;
}

.login button {
  margin-top: 1.2rem;
  background-color: white;
  color: var(--gray);
  width: 85%;
  height: 45px;
  border:3px solid var(--gray);
  border-radius: 1rem;
  font-family: 'Epilogue', sans-serif;
  font-size: 0.9rem;
  cursor: pointer;
}

/* animated xs */
.toggle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 40px;
  cursor: pointer;
  z-index: 5;
  transition: all .5s ease-in-out;
}

.toggle__burger{
  width: 30px;
  height: 2px;
  background: var(--black);
  transition: all .5s ease-in-out;
  
}

.toggle__burger::before,
.toggle__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: var(--black);
  transition: all .5s ease-in-out;
}

.toggle__burger::before {
  transform: translateY(-8px);
}

.toggle__burger::after {
  transform: translateY(8px);
}

.toggle, .toggle__burger, .toggle__burger::before, .toggle__burger::after {
    z-index: 4;
}
/* ANIMATION */
.toggle.active .toggle__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.toggle.active .toggle__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.toggle.active .toggle__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.hero-mobile {
  width: 100%;
}

.hero-desktop {
  display: none;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article-texts {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}
.article h2 {
  text-align: center;
  font-size: 2.1rem;
  padding: 3.25rem 0 1.25rem;
  font-weight: 700;
}

.article p {
  color: var(--gray);
  text-align: center;
  font-size: 0.95rem;
  line-height: 1.8rem;
}

button {
  background-color: var(--black);
  color: var(--white);
  height: 48px;
  width: 45%;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 1rem;
  margin: 2rem 0 3rem;
  cursor: pointer;
}

.icons {
  padding-bottom: 5.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icons img:nth-child(1) {
  width: 80px;
}

.icons img:nth-child(2) {
  width: 55px;
}
.icons img:nth-child(3), 
.icons img:nth-child(4)  {
  width: 60px;
}

.icons img:nth-child(-n+3) {
  margin-right: 25px;
}


.attribution {
    font-size: 11px; 
    text-align: center; 
    padding-bottom: 2rem;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media (min-width:900px) {

  .navbar-list {
    width: 100%;
  }

  .toggle {
    display: none;
  }

  .logo {
    padding-top: 8px;
  }

  .navbar-list {
    position: relative;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    padding: 0 0 0 2rem;
    flex-direction: row;
  }

  .top-navbar {
    width: 85%;
    padding: 1rem 0;
    font-weight: 700;
  }

  .first-submenu {
    position: absolute;
    transform: translateY(20px);
  }

  .left {
    display: flex;
  }

  .left a {
    font-size: 0.9rem;
  }

  .login {
    display: flex;
    align-items: baseline;
    padding-top: 0;
  } 

  .login button {
    margin-top: 0;
    width: 110px;
  }

  .login p {
    margin-right: 30px;
  }
  .arrow-down-one, .arrow-down-two {
    padding-left: 8px;
  }

  .navbar-list a {
    padding-right: 12px;
  }

  .article {
    flex-direction: row-reverse;
    width: 69%;
    margin: 0 auto;
  }

  .article-texts  {
    align-items: flex-start;
  }

  .article-texts h2 {
    font-size: 5.6rem;
    max-width: 600px;
    padding-top: 10.2rem;
  }

  .article-texts p {
    font-size: 1.3rem;
    max-width: 500px;
    padding-top: 2.3rem;
  }
  
  .article-texts h2, .article-texts p {
    text-align: left;
  }

  button {
    margin-top: 3.8rem;
    height: 61px;
    font-size: 1.3rem;
    width: 180px;
  }

  .hero-mobile {
    display: none;
  }

  .hero-desktop {
    display: block;
    width: 38%;
  }

  .icons img {
    width: 70px;
  }
}