@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root {
    --white: hsl(0, 0%, 98%);
    --gray: hsl(0, 0%, 41%);
    --black: hsl(0, 0%, 8%);
}

body {
    font-family: 'Epilogue', sans-serif;
}

/* font-family: 'Epilogue', sans-serif; */

.navbar {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}
   
.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 82%;
    padding: 20px 0;
    position: relative;
    z-index: unset;
}

.navbar-list {
  font-weight: 500;
  position: fixed;
  z-index: 3;
  overflow-x: hidden;
  height: 100vh;
  width: 0;
  top:0;
  right: 0;
  padding-top: 4.5rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  transition: 0.5s ease-in-out;
  z-index: 3;
}
  
.navbar-list.active {
  display: flex;
  width: 240px;
  overflow-x: hidden;
}
 
.overlay {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.555);
    position:fixed;
    z-index: 3;
    display: none;
}

.overlay.active {
    display:block;
}

.navbar-list a {
  color:var(--gray);
  padding: 12px 30px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700px;
}
    
.navbar-list  a:hover {
  text-decoration:underline;
  color: rgb(4, 3, 5);
}

.arrow-down {
    padding-left: 20px;
    line-height: 22px;
}

.login {
    text-align: center;
    color: var(--gray);
    padding-top: 2.5rem;
}

.login button {
    margin-top: 1.2rem;
    background-color: white;
    color: var(--gray);
    width: 85%;
    height: 45px;
    border:3px solid var(--gray);
    border-radius: 1rem;
    font-family: 'Epilogue', sans-serif;
    font-size: 0.9rem;
    cursor: pointer;
}

/* animated xs */
.toggle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 40px;
  cursor: pointer;
  z-index: 5;
  transition: all .5s ease-in-out;
}

.toggle__burger{
  width: 30px;
  height: 2px;
  background: var(--black);
  transition: all .5s ease-in-out;
  
}

.toggle__burger::before,
.toggle__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: var(--black);
  transition: all .5s ease-in-out;
}

.toggle__burger::before {
  transform: translateY(-8px);
}

.toggle__burger::after {
  transform: translateY(8px);
}

.toggle, .toggle__burger, .toggle__burger::before, .toggle__burger::after {
    z-index: 4;
}
/* ANIMATION */
.toggle.active .toggle__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.toggle.active .toggle__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.toggle.active .toggle__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.hero-mobile {
    /* background-size: cover; */
    width: 100%;
}

.attribution {
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}